.card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.back_button{
  background-color: orangered;
  width: 50px;
  color: white;
}

.postcode_results{
  padding-left: 100px;
}
