.postal_code_form {
  align-items: center;
  text-align: center;
  gap:10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding-top: 160px;
  margin: 40px;
  height: 55vh;
}

.postal_code_form > h3 {
  color: rgba(211, 84, 0);
}

button {
  margin: 5px;
  background-color: white;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(211, 84, 0, 0.15);
  cursor: pointer;
  font-size: 13px;
  line-height: 29px;
  text-align: center;
}

.postal_code_form > input {
  min-width: 400px;
  min-height: 40px;
  font-size: 30px;
  border: 2;
  border-color: rgba(211, 84, 0);
  border-radius: 10px;
  text-align: center;
}